{% if include_ribbons %}
	{% for ribbon in include_ribbons %}
		{% if forloop.first %}{% assign ribbons = ribbons | append: '<ul>' %}{% endif %}
		{% assign ribbons = ribbons | append: '<li>' %}
		{% assign ribbons = ribbons | append: ribbon.year | append: ' ' | append: ribbon.color | append: ' ribbon' %}
		{% if ribbon.item %}
			{% assign ribbons = ribbons | append: ' for ' | append: ribbon.item %}
		{% endif %}
		{% assign ribbons = ribbons | append: '</li>' %}
        {% if forloop.last %}{% assign ribbons = ribbons | append: '</ul>' %}{% endif %}
	{% endfor %}
{% endif %}