---
layout: page
---
{% capture cache %}
	{% assign include_medals = nil %}
	{% assign include_city = nil %}
	{% assign include_state = nil %}
	{% assign include_ribbons = nil %}
	{% assign medals_label = nil %}
	{% assign medals = nil %}
	{% assign residence = nil %}
	{% assign ribbons = nil %}

	{% assign include_medals = page.medals %}
	{% include gold-medalist/get-medals-label.html %} 
	{% include gold-medalist/get-medals.html %} 
	{% assign include_city = page.city %}
	{% assign include_state = page.state %}
	{% include gold-medalist/get-residence.html %}
	{% assign include_ribbons = page.ribbons %}
	{% include gold-medalist/get-ribbons.html %}
{% endcapture %}{% assign capture = nil %}

{% if page.headshot %}
<figure>
{% picture golden {{ page.headshot.src }} alt="{{ page.headshot.caption }}" %}
<figcaption class="caption">{{ page.headshot.caption }}</figcaption>
</figure>
{% endif %}
<hr />
{{ medals_label }} In:
{{ medals }}
<hr />
{% comment %}
{% for photo in page.photos %}
	{% if forloop.first %}<div class="image-grid__wrapper">{% endif %}
	<figure class="image-grid__item">
		<a href="{{ photo.src | prepend: '/assets/images/'}}">

			<figcaption class="caption">{{ photo.caption }}</figcaption>
		</a>
	</figure>
	{% if forloop.last %}</div>{% endif %}
{% endfor %}
{% endcomment %}

{% for photo in page.photos %}
	{% if forloop.first %}<div class="my-gallery  picture  image-grid__wrapper" itemscope itemtype="http://schema.org/ImageGallery">{% endif %}
  	{% include gold-medalist/view-thumbnail.html src=photo.src caption=photo.caption index0=forloop.index0 %}
	{% if forloop.last %}</div>{% endif %}
{% endfor %}

{% if page.occupation %}<strong>Occupation:</strong> {{ page.occupation }}<br />{% endif %}
{% if residence %}<strong>Residence at Time of Award:</strong> {{ residence }}<br />{% endif %}
{% if page.life_dates %}<strong>Life Dates:</strong> {{ page.life_dates }}<br />{% endif %}
{% if page.ribbons %}<strong>Ribbons:</strong> {{ ribbons }}<br />{% endif %}

{{ content }}
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>